@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  /* display: flex;
  flex-direction: column;
  min-height: 100vh; */
}

.app-icon{
  color: #fe424d;
  font-weight: 900;
  font-size: 26px;
  cursor:not-allowed;
}


.container {
  flex: 1;
}

.navbar {
  min-height: 5rem;
  background: #fff;
}

.fa-compass {
  color: #fe424d;
  font-size: 3rem;
}

.nav-link {
  color: #222222 !important;
  font-size: 1.2rem !important;
  align-self: center;
}



/*-- card ---*/
.card-body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
  margin: 40px 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 500px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-heading {
  margin: 0 0 20px 0;
  font-size: 24px;
  color: #333;
}

.card-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #0056b3;
}

.quiz-body-display{
  display: flex;
  flex-wrap: wrap;
  flex:1;
}

/*--Home banner--*/
.banner-body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.banner {
  width: 100%;
  border-radius: 10px;
  height: 80%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner img {
  width: 85%;
  height: 90%;
  display: block;
}

.banner-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.banner-content h1 {
  margin: 0 0 10px;
  font-size: 24px;
}

.banner-content p {
  margin: 0 0 20px;
  font-size: 16px;
}

.banner-content button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.banner-content button:hover {
  background-color: #0056b3;
}

.no_underline{
  text-decoration: none;
  color: #fff;
}

.container{
  flex: 1;
  /* display: inline; */
}

/* New Page */
.add-button {
  background-color: #fe424d !important;
  border: none !important;
}


/* show Page */
.show-img{
  height: 30vh;
}

.btns{
  display: flex;
}

.show-card{
  padding-left: 0;
  padding-right: 0;
}

.banner-content button{
  margin: 5px 5px;
}

@media screen and (max-width:800px) {
  .card{
    width: 310px;
  }
}