<% layout("/layouts/boilerplate")%>

<h1 style="margin-top: 10px;">Welcome! <%= currUser.username %></h1>

<div class="quiz-body-display">
  <div class="card-body">
    <div class="card">
      <img
        src="https://www.itrainu.in/wp-content/uploads/2022/01/Python-img.jpg"
        alt="Card Image"
        class="card-image"
      />
      <div class="card-content">
        <h1 class="card-heading">Python Quiz</h1>
        <a href="/quiz/python"
          ><button class="card-button">Play Quiz</button></a
        >
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card">
      <img
        src="https://images.idgesg.net/images/article/2019/05/java_binary_code_gears_programming_coding_development_by_bluebay2014_gettyimages-1040871468_2400x1600-100795798-large.jpg?auto=webp&quality=85,70"
        alt="Card Image"
        class="card-image"
      />
      <div class="card-content">
        <h1 class="card-heading">Java Quiz</h1>
        <a href="/quiz/java"><button class="card-button">Play Quiz</button></a>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQn5ImWXE_UkIzBAfAEGn9ykXpoRzkmxxtIMPGkhqUWQ&s"
        alt="Card Image"
        class="card-image"
      />
      <div class="card-content">
        <h1 class="card-heading">Data Structure Quiz</h1>
        <a href="/quiz/dsa"><button class="card-button">Play Quiz</button></a>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card">
      <img
        src="https://img.freepik.com/free-photo/books-with-brain-digital-art-style-education-day_23-2151164352.jpg"
        alt="Card Image"
        class="card-image"
      />
      <div class="card-content">
        <h1 class="card-heading">General Quiz</h1>
        <a href="/quiz/generalquiz"
          ><button class="card-button">Play Quiz</button></a
        >
      </div>
    </div>
  </div>
</div>
